{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-2">


            </div>
            <div class="col-md-8">
                <div class="card mt-5">
                    <img src="https://mta-instagram-clone.herokuapp.com/static/img/instagram-wordmark.svg"
                        class="card-img-top" alt="...">
                    <div class="card-body">




                        {% include "partials/_messages.html" %}

                        <form action="{% url 'login' %}" method="post">

                            {% csrf_token %}


                            <div class="form-group mt-2">
                                <input class="form-control form-control-sm" type="text" name="username"
                                    placeholder="Username" value="{{data.username}}">


                            </div>

                            <div class="form-group mt-2">
                                <input class="form-control form-control-sm" type="password" name="password" value=""
                                    placeholder="Password">


                            </div>

                            <div class="d-grid gap-2">
                                <input type="submit" value="Login" class="btn btn-sm btn-block btn-primary mt-2" />
                            </div>



                        </form>

                        <div class="row">
                            <div class="col-md-5">
                                <hr>
                            </div>
                            <div class="col-md-2">
                                <p class="text-muted">OR</p>
                            </div>
                            <div class="col-md-5">
                                <hr>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <a href="" class="btn btn-sm btn-block btn-primary btn-lg "><i class="fa fa-facebook"></i>
                                Login
                                with
                                Facebook</a>
                        </div>





                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>






    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}